<Wix
  xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package
    Name="$(var.AppName)"
    Manufacturer="$(var.Manufacturer)"
    Version="$(var.AppVersion)"
    UpgradeCode="7f0ac56d-9127-41d2-8d47-36e6502e2ba9"
    Language="1042"
    Codepage="949"
    Scope="perMachine"
    Compressed="yes">

    <SummaryInformation
      Description="$(var.AppName) 설치 프로그램"
      Manufacturer="$(var.Manufacturer)" />

    <MajorUpgrade
      AllowSameVersionUpgrades="yes"
      DowngradeErrorMessage="$(var.AppName)의 더 최신 버전이 이미 설치되어 있습니다." />

    <MediaTemplate
      EmbedCab="yes"
      CompressionLevel="high" />

    <Property
      Id="WIXUI_INSTALLDIR"
      Value="INSTALLFOLDER" />
    <Property
      Id="ARPNOMODIFY"
      Value="1" />
    <SetProperty
      Id="ARPINSTALLLOCATION"
      Value="[INSTALLFOLDER]"
      After="CostFinalize"
      Sequence="both" />
    <UIRef Id="Pipe1Ui" />
    <Icon
      Id="PIPE1.ico"
      SourceFile="$(var.WixIcon)" />
    <Property
      Id="ARPPRODUCTICON"
      Value="PIPE1.ico" />

    <StandardDirectory Id="ProgramFiles64Folder">
      <Directory Id="INSTALLFOLDER" Name="$(var.AppName)">
        <Files Include="$(var.SourceDir)\**" />

        <Component Id="ApplicationShortcuts" Guid="9a15082e-f82d-426c-a6d0-1caa16d3ace3">
          <Shortcut
            Id="StartMenuShortcut"
            Directory="ApplicationProgramsFolder"
            Name="$(var.AppName)"
            Target="[INSTALLFOLDER]PIPE1.exe"
            WorkingDirectory="INSTALLFOLDER" />
          <RemoveFolder
            Id="RemoveApplicationProgramsFolder"
            Directory="ApplicationProgramsFolder"
            On="uninstall" />
          <RegistryValue
            Root="HKCU"
            Key="Software\PIPE1"
            Name="installed"
            Type="integer"
            Value="1"
            KeyPath="yes" />
        </Component>
      </Directory>
    </StandardDirectory>

    <StandardDirectory Id="ProgramMenuFolder">
      <Directory Id="ApplicationProgramsFolder" Name="$(var.AppName)" />
    </StandardDirectory>

  </Package>
</Wix>
